extends ../layout/master

block content
	.row#mobile-area
		div#landing-area.columns.text-center
			h5="Use your mobile phone as a controller"
			div.bottom-btn-area.columns
				<a href="javascript:void(0)" onclick="startJourney()" class="btn">Got it!</a>
		div#loading-area.columns.text-center.hide
			<img src="assets/img/preloader.gif"/>
			p="Please Wait..."
		div#error-area.columns.text-center.hide
			h5="Connection Error!"
		div#btn-area.bottom-btn-area.columns.text-center.hide
			<a href="javascript:void(0)" onclick="nextPage()" id="cta-btn" class="start-btn btn">CONTINUE</a>
		div#instruction-area.columns.hide
			p="Assassin Tokyo BASE jump neural voodoo god modem sprawl weathered systemic meta-warehouse assault corrupted Legba silent. Pre-faded otaku uplink singularity wonton soup military-grade hacker plastic DIY Kowloon marketing drugs youtube neon katana bomb. Smart-office decay face forwards cardboard Kowloon-space skyscraper 3D-printed rebar carbon uplink warehouse lights rifle bomb tube. Corrupted computer warehouse garage urban car physical otaku long-chain hydrocarbons silent saturation point courier sentient. Human saturation point camera spook realism pistol geodesic tanto apophenia savant footage man bicycle rifle advert modem pre."
		div#knock-area.columns.game-area.hide
			div.instruction-area
				div.columns
					h5="Instruction:"
					p="Use your phone your controller to knock on Santa’s door 5 times and check out what’s happening inside Santa’s headquarters."
				div#btn-area.bottom-btn-area.columns.text-center
					<a href="javascript:void(0)" onclick="knockPlay()" class="btn">Let’s Go!</a>
			div.play-area.hide
				div#knock-area-play.area
				div.status-area
					div.status.error.hide="Ops, try it again"
					div.status.success.hide="Yey!!!"
					div.status.ready="knock... knock..."
				div#show.white-btn.text-center="show password"
		div#room-area.columns.game-area.hide
			div.instruction-area
				div.columns
					h5="Instruction:"
					p="Use your finger to wipe off away all the smoke to make sure Santa is okay!"
				div#btn-area.bottom-btn-area.columns.text-center
					<a href="javascript:void(0)" onclick="swipePlay()" class="btn">Save Santa</a>
			div.play-area.hide
				div#swipe-area.area
				div.status-area
					div.status.ready="swipe here"



block scripts
	script(type='text/javascript').
		var gameCode = '!{ deviceCode }';
	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src="assets/js/gsap/TweenMax.min.js")
	script(type='text/javascript', src="assets/js/jquery.touchSwipe.min.js")
	script(type='text/javascript', src="assets/js/script.mobile.js")
	script(type='text/javascript', src="assets/js/script.mobile.knock.js")
	script(type='text/javascript', src="assets/js/script.mobile.swipe.js")