extends layout

block content

	.row
		div.columns.text-center
			p='HELLO ARDUINO'
			ul.inline-list
				li
					div.columns="R"
					div.columns
						div.range-slider.vertical-range(data-slider,data-options="start: 1; end: 255;vertical: true;display_selector: #redOutput;")
							span.range-slider-handle(role="slider", tabindex="0")
							span.range-slider-active-segment
							input#red(type='hidden')
					div.columns
						span#redOutput
				li
					div.columns="G"
					div.columns
						div.range-slider.vertical-range(data-slider,data-options="start: 1; end: 255;vertical: true;display_selector: #greenOutput;")
							span.range-slider-handle(role="slider", tabindex="0")
							span.range-slider-active-segment
							input#green(type='hidden')
					div.columns
						span#greenOutput
				li
					div.columns="B"
					div.columns
						div.range-slider.vertical-range(data-slider,data-options="start: 1; end: 255;vertical: true;display_selector: #blueOutput;")
							span.range-slider-handle(role="slider", tabindex="0")
							span.range-slider-active-segment
							input#blue(type='hidden')
					div.columns
						span#blueOutput

block scripts
	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src="assets/js/min/script.arduino.min.js")