extends layout

block content

		div#instruction-area.controller.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
			h2="How to Play"
			p
					&nbsp;
			div.columns.small-6
				<i class="fa fa-arrow-circle-left arrow-icon red"></i>
			div.columns.small-6
				<i class="fa fa-arrow-circle-right arrow-icon blue"></i>
			div.text-left
				p
					&nbsp;
				p 
					"Blue : Follow the arrow"<br/>"Red  : unfollow the arrow"
				<a href="javascript:void(0)" onclick="startGame()" id="start-btn" class="start-btn button alert hide">START</a>

		div#play-area.text-center
			h5="swipe here"

		div#countdown-area.mobile.text-center
			span
		div#result-area.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
			div#gameover
				h4="GAME OVER"
			div#result
				h4="Your Score"
				h1#score-total
				<a href="javascript:void(0)" onclick="startGame()" id="" class="start-btn button alert">Play Again</a>

		div#disconnect-area.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
			h2="Connection Lost!"
			h4="Please Rescan QR Code from desktop."
		div#room-area.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
			h2="Sorry"
			h4="Room Not Available."


block scripts
	script(type='text/javascript').
		var gameCode = '!{ deviceCode }';
	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src="/assets/js/gsap/TweenMax.min.js")
	script(type='text/javascript', src="assets/js/jquery.touchSwipe.min.js")
	script(type='text/javascript', src="assets/js/script.game.mobile.js")