extends layout

block content

	.row
		div#instruction-area.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
			h2="Gyro Test"
			p="Scan QR code with your mobile phone"

			
			div
				<img src="https://api.qrserver.com/v1/create-qr-code/?data=#{URLs}/gyro?code=!{ deviceCode }&amp;size=100x100" alt="" title="" />
			div#playing-area.columns.large-6.medium-6.small-12.large-centered.medium-centered.small-centered.text-center
				h2="Device Motion"
				div.motion-info
					div="Event Supported"
					p#dmEvent="-"
				div.motion-info
					div="Tilt Left/Right [gamma]"
					p#doTiltLR="-"
				div.motion-info
					div="Tilt Front/Back [beta]"
					p#doTiltFB="-"
				div.motion-info
					div="Direction [alpha]"
					p#doDirection="-"
				div.motion-info
					div="interval"
					p#moInterval="-"
		div#countdown-area

		
block scripts
	script(type='text/javascript').
		var gameCode = '!{ deviceCode }';
	script(type='text/javascript', src="/assets/js/gsap/TweenMax.min.js")
	script(type='text/javascript', src="/socket.io/socket.io.js")
	script(type='text/javascript', src="assets/js/script.gyro.game.js")