extends layout/master

block content
	

block scripts
	script(type='text/javascript', src="assets/js/easel/createjs-2015.11.26.min.js")
	script(type='text/javascript', src="assets/js/easel/easeljs-0.8.1.min.js")
	script(type='text/javascript', src="assets/js/easel/utils/Ticker.js")
	script(type='text/javascript', src="assets/js/tweenjs/Tween.js")
	script(type='text/javascript', src="assets/js/tweenjs/Ease.js")
	script(type='text/javascript', src="../assets/js/script.js")
	script(type='text/javascript', src="assets/js/script.game.js")
