extends layout/master

block content
	.row
		div#loading-area.columns.text-center
			p="loading..."
		div#hello-area.columns.hide
			p="Assassin Tokyo BASE jump neural voodoo god modem sprawl weathered systemic meta-warehouse assault corrupted Legba silent. Pre-faded otaku uplink singularity wonton soup military-grade hacker plastic DIY Kowloon marketing drugs youtube neon katana bomb. Smart-office decay face forwards cardboard Kowloon-space skyscraper 3D-printed rebar carbon uplink warehouse lights rifle bomb tube. Corrupted computer warehouse garage urban car physical otaku long-chain hydrocarbons silent saturation point courier sentient. Human saturation point camera spook realism pistol geodesic tanto apophenia savant footage man bicycle rifle advert modem pre."
		div#knock-area.columns.hide.game-area
			div#area
			div.status#error.hide="Ops, try it again"
			div.status#ready="knock knock..."
			div#show.white-btn.text-center="show password"


block scripts
	script(type='text/javascript', src="assets/js/gsap/TweenMax.min.js")
	script(type='text/javascript', src="assets/js/jquery.touchSwipe.min.js")
	script(type='text/javascript', src="assets/js/script.mobile.knock.js")