
doctype html
html
	head
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		title= title
		link(rel='stylesheet', href='../assets/css/normalize.css')
		link(rel='stylesheet', href='../assets/css/foundation.min.css')
		link(rel='stylesheet', href='../assets/css/font-awesome.min.css')
		link(rel='stylesheet', href='../assets/css/sites.min.css')
	body
		div#canvas-area.hide-for-small
			<canvas id="canvas" width="1280" height="800"/>
		div#content-area
			block content
		
		script(type='text/javascript', src="/assets/js/gsap/TweenMax.min.js")
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src="../assets/js/vendor/jquery.js")
		script(type='text/javascript', src="../assets/js/paper-full.min.js")
		script(type='text/javascript', src="../assets/js/foundation.min.js")
		script(type='text/javascript').
			var base_url = '!{URLs}';
			var gameCode = '!{ deviceCode }';
			$(document).ready(function(){
				$(document).foundation();
			})
		
		block scripts