div.bottom-instruction
	.row
		div.text-center
			<p>Use your phone to knock on Santa’s door<br/>and check out what’s happening inside<br/>Santa’s headquarters</p>


script(type='text/javascript', src="assets/js/script.door.js")