.row.horizontal-center
	div#instruction-area.columns.large-4.medium-5.small-12.large-centered.medium-centered.small-centered.text-center.horizontal-center-inner
		<img src="assets/img/logo.png"/>
		<p>&nbsp;</p>
		p="Scan the code below"
		div
			<img src="https://api.qrserver.com/v1/create-qr-code/?data=#{URLs}/home?code=!{ deviceCode }&amp;size=100x100" alt="" title="" />


