div.bottom-instruction
	.row
		div.text-center
			<p>On the night before Christmas,<br/>when children around the world have fallen asleep,<br/>Santa’s little headquarters located in the North Pole<br/>seemed to be strangely quiet....."</p>

script(type='text/javascript', src="assets/js/script.house.js")