div.bottom-instruction2
	.row.text-center
		div#swipe-instruction1.inner.columns.large-6.large-centered.medium-6.medium-centered
			<h2 style="color:#9e2020;line-height:2rem;">WHOAAAA!</h2>
			<p class="no-margin" style="color:#9e2020">What’s happening here??</p>
		div#swipe-instruction2.inner.columns.large-6.large-centered.medium-6.medium-centered.hide
			<p class="no-margin" style="color:#9e2020"> It looks like Santa has been naughty this past year. Vaping and drinking his life away....But wait! Then children all around the world would not be getting their presents on time.</p>

script(type='text/javascript', src="assets/js/script.room.js")
script(type='text/javascript', src="assets/js/script.swipesmokes.js")