@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,300);

@mixin vertical-align($position: relative) {
  position: $position;
  top: 25%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

body, html{
	width: 100%;
	height: 100%;
	
	color:#fff;
	font-family: 'Raleway', sans-serif;
	background:#084671;
}

body,html,p,div{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6,.button{
	font-family: 'Raleway', sans-serif;
	color:#2d2d2d;
	font-weight: 800;	
}

#guideCanvas{
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 2;
}

.inline-block{
	display: inline-block;
	position:relative;
}

.canvas-video,#video {
    width: 640px !important;
    height: 480px;
    position:relative;
    z-index: 1;
}

#canvas{
	/* background:#084671; */
}


#video{
	position:absolute;
	z-index: 0;
	top:0px;
	left:0px;
}

#content-area{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

#canvas-area{
	position:absolute;
	z-index: 0;
	width:100%;
	height:auto;
	overflow: hidden;
	height:100%;
	#canvas{
		position:absolute;
	}
}

.arrow-icon{
	font-size: 150px;
	&.red{
		color:#f6627b;
	}

	&.blue{
		color:#51b4dd;
	}
	&.question{
		font-size: 300px;
	}
}

#instruction-area{
	/* background:rgba(white,0.8); */
	padding:50px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	&.controller{
		margin:0px;
	}
}

.bottom-instruction{
	padding:20px 40px;
	position:absolute;
	top:10%;
	width:100%;
}

.bottom-instruction2{
	.inner{
		background:rgba(white,0.8);
		padding:20px 40px;
	}
	
	position:absolute;
	bottom:10%;
	width:100%;
}

.horizontal-center{
	position:relative;
	top:50%;
	.horizontal-center-inner{
		position:relative;
		margin-top:-16%;
	}
}

.hide{
	display:none;
}

.play-area{
	position:relative;
	width:100%;
	height:100%;
	h5{
		text-transform: uppercase;
		color:#cacaca;
		font-size: 2rem;
	}
}

.start-btn{
	width:100%;
	text-align: center;
}

#result-area{
	margin:100px auto;
	#gameover h4{
		color:#9c0f15;
	}
}

#disconnect-area{
	margin:100px auto;
}

#controller{
	margin-left: -15px;
	margin-right: -15px;
	li{
		
		background: #ebb5be;
		padding:0px;
		.item{
			border:1px solid white;
			display:inline-block;
			vertical-align: middle;
			width:100%;
			height:100%;
		}
		a{

			font-weight: bold;
			color: white;
			
			display:inline-block;
			vertical-align: middle;
			width:100%;
			height:100%;
			margin:0px;
			&:hover{
				background:#b75162;
			}
			span{
				@include vertical-align();
				font-size: 40px;
			}
		}
	}
}

#countdown-area,#countdown-area span{
	font-weight: 800;
	color:#f6d46b;
	font-size: 100px;
	text-transform: uppercase;
	margin:100px 0px;
	&.mobile{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:inline-block;
	}
}

.area {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  opacity: 0.8;
}

.status-area{
	position:relative;
	z-index: 7;
}

.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: -100px;
  background: #fff;
  border-radius: 50%;
  animation: circle 1s ease-out forwards;
  transform: scale(0.1);
  opacity: 0.6;
}
@keyframes circle {
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.white-btn {
  color: #fff;
  position:absolute;
  width:100%;
  bottom: 20px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  cursor: pointer;
  z-index: 100;
  &:hover{
  	opacity: 1;
  }
}

.game-area{
	position:absolute;
	overflow:hidden;
	top:0px;
	padding:0px;
	left:0px;
	height:100%;
	width:100%;
	.status-area{
		height:100%;
		position:relative;
	}
	&.ready {
		.area{
			background: #00baff;
		}
		.ready { opacity: 1; }
	}
	&.error {
		.area{
			background: #BE5973;
		}
		.error { opacity: 1; }
	}
	&.success {
		.area{
			background: #00A673;
		}
		.success { opacity: 1; }
	}
}

.status{
	position:absolute;
	top:40%;
	z-index: 11;
	font-size: 25px;
	text-align: center;
	color:black;
	text-transform: capitalize;
	width:100%;
}

.no-margin{
	margin:0px;
}

.button{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bottom-btn-area{
	position:absolute;
	bottom:30px;
	width:100%;
}

#loading-area{
	position:absolute;
	top:10%;
	img{
		width:120px;
	}
	padding:20px 0px;
	p{
		font-size: 18px;
		color: black;
	}
}

#landing-area{
	position:absolute;
	height:100%;
	width:100%;
	img{
		width:120px;
	}
	padding:20px 0px;
	p{
		font-size: 18px;
	}
}

.instruction-area{
	padding:50px 0px;
	font-size: 16px;
}

#error-area{
	margin-top: 50px;
}

.btn{
	background:url('../img/btn-bg.png') no-repeat;
	width: 187px;
	height: 51px;
	display:inline-block;
	text-transform:uppercase;
	color:white;
	font-weight:bold;
	padding:12px 0px;
}

#mobile-area{
	background:#eeeded;
	width: 100%;
	height: 100%;
	p{
		color: black;
	}
}

@media only screen and (max-width: 64.063em) {
	#canvas{
		display: none;
	}
}

@media only screen and (max-width: 40em) { 
	#instruction-area{
		padding:50px 20px;
	}
}